.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: calc(100vh - 70px);
    padding-bottom: 30px;

    position: relative;
}
.dateNav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .header {
        width: 100%;
        height: 95px;
        padding: 12px 50px;
        padding-left: 70px;
        padding-top: 20px;
        background: #436eee;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        position: relative;
        .back {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title {
            font-size: 24px;
            color: #fdfdfd;
        }
    }
    .dateSelect {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        border-bottom: 1.5px solid #c2c2c2;
        div {
            height: 100%;
            width: 25%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            color: #bdbdbd;
            position: relative;
            &.active {
                background: rgba(123, 195, 255, 0.15);
                color: #436eee;
                font-weight: 700;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background: #436eee;
                }
            }
        }
    }
}
.result {
    width: 100%;
    height: auto;
    background-color: #fdfdfd;
    padding-top: 25px;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.start {
    width: 100%;
    background: #f4f4f4;
    height: 55px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    color: #436eee;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    .startIcon {
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1.5px #436eee solid;
        background-color: #fdfdfd;
        top: 50%;
        left: 45px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .bar {
        height: 50%;
        width: 6px;
        background: #436eee;
        position: absolute;
        bottom: 0;
        left: 60px;
        z-index: 1;
    }
}

.end {
    width: 100%;
    background: #f4f4f4;
    height: 55px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    color: #436eee;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    .endIcon {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 43px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}
.routeItem {
    font-size: 16px;
    color: #302f34;
    height: 50px;
    width: 100%;
    padding-left: 90px;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    .bar {
        height: 100%;
        width: 6px;
        background: #436eee;
        position: absolute;
        top: 0;
        left: 60px;
        z-index: 1;
    }
    .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px #436eee solid;
        background-color: #fdfdfd;
        position: absolute;
        top: 50%;
        left: 55px;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.routeLine {
    font-size: 12px;
    color: #555;
    height: 40px;
    width: 100%;
    padding-left: 90px;
    display: flex;
    align-items: center;
    position: relative;
    .bar {
        height: 100%;
        width: 6px;
        background: #436eee;
        position: absolute;
        top: 0;
        left: 60px;
        z-index: 1;
    }
}

.routeItemTransfer {
    width: 100%;
    padding-left: 120px;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #d9534f;
    font-weight: bold;
    position: relative;
    overflow: visible;
    .dotContainer {
        position: absolute;
        width: 5px;
        height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        top: 5px;
        left: 60px;
        z-index: 5;
        div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgb(175, 175, 175);
            margin: 2px 0;
        }
    }
}
