.authContainer {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #f3f4f6;
    position: relative;
}
.logo {
    width: 245px;
    height: 100px;
    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.formWrapper {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
        margin-top: 15px;
        font-size: 2rem;
        color: #374151;
        font-weight: 600;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
        font-size: 12px;
        color: #374151;
    }

    input {
        padding: 0.5rem;
        border: 1px solid #e5e7eb;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #4f46e5;
        }

        &.error {
            border-color: #dc2626;
        }
    }
}

.errorText {
    color: #dc2626;
    font-size: 10px;
}

.submitButton {
    background-color: #4f46e5;
    color: white;
    padding: 0.75rem;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    margin-top: 1rem;

    &:hover:not(:disabled) {
        background-color: #4f46e5;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}

.errorMessage {
    background-color: rgba(#dc2626, 0.1);
    border: 1px solid #dc2626;
    color: #dc2626;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    font-size: 10px;
}

.successMessage {
    background-color: rgba(#059669, 0.1);
    border: 1px solid #059669;
    color: #059669;
    padding: 0.75rem;
    border-radius: 4px;
}
