.DateWrap {
    border: solid 1px #7bc3ff;
    width: 65px;
    height: 78px;
    border-radius: 6px;
    text-align: center;
    margin-top: 8px;
}

.Date {
    color: #436eee;
    font-size: 12px;
    margin-top: 18px;
    font-weight: bold;
}

.day {
    font-size: 20px;
    color: #436eee;
}
