.ContentWrap {
    min-height: calc(100% - 60px);
    padding: 24px;
    padding-bottom: 80px;
    margin: auto;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    .ScheduleWrap {
        color: #302f34;
        margin: auto;
        margin-top: 35px;
        width: 100%;
    }

    .Calendar {
        width: 90%;
        margin: auto;
        margin-top: 15px;
        border: solid 1px;
        height: 321px;
        border-radius: 6px;
    }

    .Setting {
        display: flex;
        justify-content: flex-start;
        margin: 24px 0 0 24px;
        height: 24px;
    }
}
